@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  /* font-weight: 900;  */
  /* font-display: swap; */
}


.custom-table-spacing tbody tr {
  border-bottom: 8px solid transparent; /* Adjust the spacing size */
}



html, body {
  font-family: "SF Pro", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --primary-color: #037073;
  --secondary-color: #FBBF24;
  /* color: var(--primary-color); */
} */

/* input, button, select, textarea {
  border-radius: 9999px;
  background-color: white;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  color: var(--primary-color);
}


